*{ margin: 0;padding:0;box-sizing: border-box;font-family: 'Poppins', sans-serif;}

a{text-decoration: none;}
a:hover{text-decoration: none;}
li{list-style: none;}


html{
    font-size: 87.5%;
}
.responsive{

    max-width: 100%;
    height: auto;
}


.header-section{
    width: 100%;
    height: inherit;
    color:rgb(241, 96, 12);
    text-align: center;
    position: relative ;
}

.header:before{
    content: "";
    position:absolute;
    top:0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: .3;
    z-index: -2;
    background: linear-gradient(to right, #eb0f0f 0%, #3ccdbb 0%, #16c9f6 100%);

}
.paragraphs{
    width: 100%;
    /* background-image:url('../images/14.jpg'); */
    background: linear-gradient(#9aabdb,#9dcc93,#f1f095 );
    background-repeat: no-repeat;
    background-size:100% 100%;
    position:relative;
    align-items: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
