*{ margin: 0;padding:0;box-sizing: border-box}

a{text-decoration: none;}
a:hover{text-decoration: none;}
li{list-style: none;}


.header{
    width: 100%;
    height:100vh;
    background-image:url('../images/image2.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    position:relative;

}

html{
    font-size: 87.5%;
}
.responsive{

    max-width: 100%;
    height: auto;
}

h5{
    color: blue;
    background-color:#F0BB62;
    border: 1rem solid #49FF00;
    border-radius: 0.8rem;
    
    
    }

.header-section{
    width: 100%;
    height: inherit;
    
    text-align: center;
    position: relative ;
}

.header:before{
    content: "";
    position:absolute;
    top:0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: .3;
    z-index: -2;
    background: linear-gradient(to right, #eb0f0f 0%, #3ccdbb 0%, #16c9f6 100%);

}


.paragraphs{
    width: 100%;
    /*background-image:url('../images/plainbackground.jpg');*/
    background: linear-gradient( #3E7C17,#49FF00,#3E7C17,#3E7C17,#3E7C17);
    background-repeat: no-repeat;
    background-size:100% 100%;
    position:relative;
}

.image2 .floating-image{
    max-width: 70rem;
}

.image2 .floating-image.right{
    float:right;
    margin-left: 3rem;
    margin-bottom: 1rem;
     
}

.image2 .floating-image.left{
    float:left;
    margin-right: 3rem;
    margin-bottom: 1rem;
     
}


.footersection{
    width: 100%;
    height: auto;
    padding: 20px 40px;
    align-items: center;
    background:#28282B;
    position: relative;
}
.footersection a{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color:whitesmoke;
    margin-right: 2.0rem;
    text-transform: capitalize;
}
.footersection h3{
    text-transform: uppercase;
    color:rgb(251, 253, 247);
    margin-bottom: 2.5rem;
    font-size: 1.4rem!important;
    font-weight: 600;
    align-items: center;
    
    text-shadow:yellow;
}
.icon{
    column-gap: 1.0rem;
    align-items: center;
    
}

.quick{

    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color:whitesmoke;
    margin-right: 2.0rem;
    text-transform: capitalize;
     
}







