*{ margin: 0;padding:0;box-sizing: border-box}

a{text-decoration: none;}
a:hover{text-decoration: none;}
li{list-style: none;}

p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight:400;
    color: hsl(229, 75%, 22%);
}


.extra-div h2{
    font-size: 0.9rem;
    margin:20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}





.header{
    width: 100%;
    height:100vh;
    background-image:url('../images/backimg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    
    background-attachment: fixed;
    justify-content: center;
    text-align: center;
  position:relative;
      overflow: hidden;
    animation: change 50s infinite ease-in-out;
}


@keyframes change{

    0%
    {
        background-image: url('../images/indian\ flag.jpg');
    }


    10%
    {
        background-image: url('../images/101.jpeg');
    }
    20%
    {
        background-image: url('../images/102.jpg');
    }
    30%
    {
        background-image: url('../images/103.jpg');
    }
    40%
    {
        background-image: url('../images/104.jpg');
    }
    50%
    {
        background-image: url('../images/105.jpg');
    }
    60%
    {
        background-image: url('../images/agriculture.jpg');
    }

    70%
    {
        background-image: url('../images/indoor\ vegetables.jpg');
    }

    80%
    {
        background-image: url('../images/indian\ flag.jpg');
    }

   

}







/* .header:before{
    content: "";
    position:absolute;
    top:0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: .3;
    z-index: -2;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);

} */
.navbar:before{
    content: "";
    position:absolute;
    top:0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: .3;
    z-index: -2;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}
.nav-item a{
    
    border: 1px solid rgb(238, 216, 14);
    border-radius: 400px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: rgb(235, 238, 243);
    font-size: 1rem;
    font-weight:400;
    line-height: 1.4;
    text-align: centre;
}

.header-section{
    width: 100%;
    height: inherit;
    color:lawngreen;
    text-align: center;
    position: relative ;
}
.centre-div{
    width: 100%;
    height: auto;
    position:absolute;
    top: 15%;
    left:15%;
    transform: translate(-15%, -15%);
    -ms-transform:translate(-15%, -15%);
    -webkit-transform: translate(-15%, -15%);
}
.header-buttons a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight:400;
    line-height: 1.4;
    text-align: centre;
}

.header-buttons a:hover{
    color:#50d1c0;
    background: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.centre-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
}

/*************** extra header div css start **********/
.header-extradiv{
    width:100%; height: auto;
    margin:100px 0;
    text-align: center;
}
.extra-div{
    background:  rgb(160, 226, 247);
    border: medium none;
    padding: 50px!important;
    border-radius: 3px;
    transition: 0.3s;
}

.extra-div:hover{

    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY( -20px);
}


/*************** extra header div css ends **********/



/*************** extra service div css ends **********/

.paragraphs{
    width: 100%;
    background-image:url('../images/14.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    position:relative;
}



.image1 .floating-image{
    max-width: 700px;
}
.image1 .floating-image.left{
    float:left;
    margin-right: 30px;
    margin-bottom: 10px;
}



.image1 .floating-image.right{

    float:right;
    margin-left: 30px;
    margin-bottom: 10px;
}

.image2 .floating-image{
    max-width: 700px;
}

.image2 .floating-image.right{
    float:right;
    margin-left: 30px;
    margin-bottom: 10px;
     
}

.image2 .floating-image.left{
    float:left;
    margin-right: 30px;
    margin-bottom: 10px;
     
}


 
.footersection{
    width: 100%;
    height: auto;
    padding: 10px 40px;
    align-items: center;
    background:#28282B;
    position: relative;
}
.footersection a{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color:whitesmoke;
    margin-right: 20px;
    text-transform: capitalize;
}
.footersection h3{
    text-transform: uppercase;
    color:rgb(251, 253, 247);
    margin-bottom: 25px;
    font-size: 1.4rem!important;
    font-weight: 600;
    align-items: center;
    
    text-shadow:yellow;
}
.icon{
    column-gap: 10px;
    align-items: center;
    
}

.quick{

    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color:whitesmoke;
    margin-right: 20px;
    text-transform: capitalize;
     
}


