*{margin: 0; padding: 0; box-sizing: border-box;font-family: 'Poppins', sans-serif;}


.far{
    width: 100%;
    min-height: 100vh;
    /* background-image:url('../images/wheat.jpg'); */
    background: linear-gradient(#e7d4df,#9dcc93,#f1f095,#d7c9ff,#a5ffac,#93a7cc,#ffbaba,#e7f887 );
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    padding: 10px 200px;
    align-items: center;


}





.center {
    display:  block;
    margin-left: auto;
    margin-right: auto;
    
  }

 
.asec{
    width: 100%;
    min-height: 100vh;
    /* background-image:url('../images/5.jpg'); */
    background: linear-gradient(#e7d4df,#9dcc93,#f1f095,#d7c9ff,#a5ffac,#93a7cc,#ffbaba,#e7f887  );
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    padding: 10px 200px;
    align-items: center;
}
.bfar{
    width: 100%;
    min-height: 100vh;
    /* background-image:url('../images/5.jpg'); */
    background: linear-gradient(#e7d4df,#9dcc93,#f1f095,#d7c9ff,#a5ffac,#93a7cc,#ffbaba,#e7f887 );
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    padding: 10px 200px;
    align-items: center;
}
.last{
    
    width: 100%;
    min-height: auto;
    /* background-image:url('../images/5.jpg'); */
    background: linear-gradient(#e7d4df,#9dcc93,#f1f095,#d7c9ff,#a5ffac,#93a7cc,#ffbaba,#e7f887 );
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    padding: 10px 200px;
    align-items: center;
}