*{margin: 0; padding: 0; box-sizing: border-box;font-family: 'Poppins', sans-serif;}

.serviceffers{
    width: 100%;
    min-height: 100vh;
    /* background-image:url('../images/5.jpg'); */
    background: linear-gradient(#f6f88d,#a9eb9b,#dfb9cf,#a2e3f7,#f5baba,#94faf1,#ecf38a,#c8abfd );
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    padding: 10px 200px;
    align-items: center;
}
.center {
    display:  block;
    margin-left: auto;
    margin-right: auto;
    
  }
.container{
    font-size: 16px;
    color:orangered;
}
.content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* background-image:url('../images/2.jpg'); */
    background: linear-gradient(#f6f88d,#a9eb9b,#dfb9cf,#a2e3f7,#f5baba,#94faf1,#ecf38a,#c8abfd );
    display: flex;
    padding: 10px 200px;
}
.sec {
    position: relative;
    width: 100%;
    min-height: auto;
    /* background-image:url('../images/1.jpg'); */
    background: linear-gradient(#f6f88d,#a9eb9b,#dfb9cf,#a2e3f7,#f5baba,#94faf1,#ecf38a,#c8abfd );
    display: flex;
    padding: 10px 200px;
}
body {
    margin: 0;
    padding: 0;
    /* background-color: #000; */
    /* background: linear-gradient(#dfb9cf,#9dcc93 ); */
    background-image:url('../images/5.jpg');
}

.block {
    position: relative;
    /* margin: 10% auto 0; */
    width: 100%;
    height: 72vh;
    /* background: linear-gradient(0deg, #000, #272727); */
    /* background-image:url('../images/11.jpg'); */
}

.moving-glow:before, .moving-glow:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
          #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    z-index: -1;
    animation: anim-moving-glow 20s linear infinite;
 
}

@keyframes anim-moving-glow {
    0% {
          background-position: 0 0;
    }
    50% {
          background-position: 400% 0;
    }
    100% {
          background-position: 0 0;
    }
}

.last{
    width: 100%;
    min-height: auto;
    /* background-image:url('../images/5.jpg'); */
    background: linear-gradient(#e7d4df,#9dcc93,#f1f095,#d7c9ff,#a5ffac,#93a7cc,#ffbaba,#e7f887 );
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    padding: 10px 200px;
    align-items: center;
}